.row-fluid
  = render "demo/events/month_selector", months: @months_for_filter
  = render "demo/events/city_selector", cities: @cities
  %h2= t("front.demo.event.events")
  %hr.bolded
.row-fluid
  .thumbnail-list.events
    %ul.thumbnails
      - @events.each do |event|
        %li.span3
          .thumbnail
            .caption
              %h3
                = link_to event.info(@current_shard_language).place, event_path(event)
              %p
                %span.badge.success= event.info(@current_shard_language).city
              %p
                = event.starts_at.strftime("%d.%m.%Y")
                = event.starts_at.strftime("%H:%M") unless event.without_time
              %p= event.infos.where(shard_language_id: @current_shard_language).first.title.to_s
