- content = @post.contents.for_shard_language(@current_shard_language).first
.post
  %h2= content.title
  .meta-wrap
    .meta.pull-left
      %span.dateTime
        = t("front.demo.blog.published_at")
        = @post.created_at.strftime("%d.%m.%Y")
        = "/"
        = @post.created_at.strftime("%H:%M")
    .meta-comments.pull-right
      = link_to(blog_path(@post)) do
        = t("front.demo.comments")
        .comments-bubble.pull-right
          %span.comment-num= content.comments_count
  - if content.photos.empty? && content.videos.empty?
    %p= raw content.uncut
  - elsif content.photos.empty?
    - if content.videos.first.youtube?
      %iframe.video{ src: "http://www.youtube.com/embed/#{content.videos.first.youtube_id}", frameborder: "0", allowfullscreen: true }
    - else
      %video{ id: "video_#{content.videos.first.id}", class: "video-js vjs-default-skin", controls: true, preload: "auto", :"data-setup" => '{}' }
        %source{ src: content.videos.first.url(false, "mp4"), type: 'video/mp4' }
        %source{ src: content.videos.first.url(false, "webm"), type: 'video/webm' }
    %br
    %p= raw content.uncut
  - else
    %a.photo{ href: blog_path(@post), style: "font-size: 0px" }
      = image_tag content.photos.first.link("400")
    %br
    %p= raw content.uncut
  = render partial: "demo/shared/tag_cloud", locals: { tags: content.tags.misc }
  = render "shared/share_buttons"
  = render partial: "shared/commentatr_comments", locals: { entry_id: content.commentatr_hash, lang: @current_shard_language.language.code }
  = stylesheet_link_tag "demo/comments"